.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}

.emphasis {
  color: #58b96b;
}

@media (max-width: 900px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #1e596a;
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

@media (max-width: 900px) {
  .timeline li {
    padding: 2em 0;
  }
}

.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.directionL {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}

@media (max-width: 900px) {
  .directionL {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.directionL .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.directionL .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: 8px solid transparent;
  border-left-color: #f8f8f8;
  pointer-events: none;
}

@media (max-width: 900px) {
  .directionL .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    pointer-events: none;
  }
}

.directionL .timeWrapper {
  float: left;
}

@media (max-width: 900px) {
  .directionL .timeWrapper {
    float: none;
  }
}

.directionR {
  position: relative;
  width: 400px;
  float: right;
}

@media (max-width: 900px) {
  .directionR {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.directionR .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.directionR .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: 8px solid transparent;
  border-right-color: #f8f8f8;
  pointer-events: none;
}

@media (max-width: 900px) {
  .directionR .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    pointer-events: none;
  }
}

.directionR .flag:before {
  left: -40px;
}

.directionR .timeWrapper {
  float: right;
}

@media (max-width: 900px) {
  .directionR .timeWrapper {
    float: none;
  }
}

.flagWrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

@media (max-width: 900px) {
  .flagWrapper {
    text-align: center;
  }
}

.flagWrapper .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  color: black;
}

@media (max-width: 900px) {
  .flagWrapper .flag {
    background: #fff;
    z-index: 15;
  }
}

.directionL .flag:before, .directionR .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #1e596a;
  z-index: 10;
}

@media (max-width: 900px) {
  .directionL .flag:before, .directionR .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}

.timeWrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58b96b;
  vertical-align: middle;
}

@media (max-width: 900px) {
  .timeWrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
}

.timeWrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
  color: black;
  opacity: 0.9;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  /*font-style: italic;*/
  line-height: 1.5em;
}

.desc a {
  color: #58b96b;
  text-decoration: none;
}

.desc a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: #1e596a;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;

    border-radius: 5px;
  }
}
